In [5]:
a=input()

if a.isupper():
    print("A is aupper case character")
elif a.islower():
   print("A is alower case character")
elif a.isnumeric():
    print("A is a number")
else:
    print("A is a special character")

 !

A is a special character

In [22]:
a=int(input())

for i in range (2,int(a/2)):
       if a%i==0:
           print("it is not a prime number")
           break
       else:
           print("it is a prime no")
           break

 33

it is a prime no

In [ ]:
if_name__=='main__':
  filename = "example.txt"
  new-filename = "new_example."txt"

  create_file(filename)
  read_file(filename)
  append_file(filename,"this is some additional text:\n")
  read_file(filename)
  reaname_file(filename,new_filename)
  read_file(new_filename)

In [43]:
import os

with open ("file1.txt",'w')as f:
     f.write("first word\n")
     f.close()

In [38]:
import os

with open ("file1.txt",'r')as f:
    for i in f.read().split("\n"):
        print(a)
        print("324")

f.close()

33
324
33
324

In [42]:
import os

with open ("file1.txt",'a') as f:
     f.write("second word\n")
     f.close()

In [ ]:
w=write
r= read
a=append
w+=write and read
r+read and write
a+= append and read

In [ ]:
Convert a temperature from Celsius to Fahrenheit.

In [54]:
Cel=int(input("Enter the temperature in celsius: "))
fah=(Cel*1.8)+32
print("The Given Temparature in Fahrenhiet:",fah)

Enter the temperature in celsius:  0

The Given Temparature in Fahrenhiet: 32.0

In [ ]:
Create a file Named as Fruit name
and Add the fruit names by taking input from the user.

after that replace a fruit name with other fruit name entered by the user.

for example:

file have 
Apple
Banana
Mango
Grapes

now replace Banana with watermelon

In [55]:
import os
with open( "Fruit Name.txt",'w') as f:
    f.write("Apple\n")
    f.write("Banana\n")
    f.write("Mango\n")
    f.write("Grapes\n")
with open("Fruit Name.txt",'r')as f:
    a=f.read()
    print(a)
    Y=a.replace("Banana","Watermelon",1)
    print(Y)

Apple
Banana
Mango
Grapes

Apple
Watermelon
Mango
Grapes

In [ ]:
Count the occurrences of each element in a list.

In [57]:
l=[1,1,1,1,1,1,1,2,2,2,2,2,3,3,3,3,4,4,4,4,4,4,]

d={}
for i in l:
    if i not in d:
        d[i] = l.count(i)
print(d)

{1: 7, 2: 5, 3: 4, 4: 6}

In [ ]:
Find the sum of all even numbers in a list.

In [1]:
d=[]
n=int(input("Enter the size: "))
print("Enter the elements: ")
for i in range(0,n):
    a=int(input())
    d.append(a)

d.sort()
print("The Second Largest:",end=" ")
print(d[-2])

Enter the size:  3

Enter the elements:

 12
 14
 29

The Second Largest: 14

In [ ]:
Count the number of vowels in a string.

In [2]:
sentence = input("enter the sentence:")
string = sentence.lower()
print(string)
count = 0
list1 = ["a","e","i","o","u"]
for char in string:
    if char in list1:
        count = count+1

print("number vowels in given sentence is:",count)

enter the sentence: Hello world

hello world
number vowels in given sentence is: 3

In [4]:
#count the no of the vowels in a string

str = input("Enter a word : ")
for i in range(len(str) -1, -1, -1):
  print(str[i], end = "")
print("\n")

Enter a word :  world

dlrow

In [ ]:
Find the second largest element in a list.

In [5]:
l1 =[10,40,70,80,99]
l1.sort()
element = l1[-2]

print("second largest element is :",element)

second largest element is : 80